<!DOCTYPE html>
<html lang="en">
<head>
    <title>Количество переэкзаменовок</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
<table align="center">
    <tr>
        <th>Название предмета</th>
        <th>Количество</th>
    </tr>
    {% for rec in records %}
    <tr>
        <td>{{rec.subject_name}}</td>
        <td>{{rec.count}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>