<!DOCTYPE html>
<html lang="en">
<head>
    <title>Тип итоговой аттестации для каждого предмета</title>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        th {
            text-align: left;
        }
    </style>
</head>
<body>
    <table align="center">
        <tr>
            <th>ID</th>
            <th>Название предмета</th>
            <th>Тип итоговой аттестации</th>
        </tr>
        {% for rec in records %}
        <tr>
            <td>{{rec.id}}</td>
            <td>{{rec.name}}</td>
            <td>{{rec.type}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>